[submodule "spike/riscv-isa-sim"]
	path = spike/riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim
[submodule "riscv-platform-specs"]
	path = riscv-platform-specs
	url = https://github.com/riscv/riscv-platform-specs
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "source-glibc"]
	path = source-glibc
	url = https://github.com/lastweek/source-glibc
[submodule "riscv-proxy-kernel/riscv-pk"]
	path = riscv-proxy-kernel/riscv-pk
	url = https://github.com/riscv/riscv-pk
[submodule "riscv-probe/riscv-probe"]
	path = riscv-probe/riscv-probe
	url = https://github.com/michaeljclark/riscv-probe
[submodule "riscv-qemu/source-qemu"]
	path = riscv-qemu/source-qemu
	url = https://github.com/lastweek/source-qemu
[submodule "chipyard/chipyard"]
	path = chipyard/chipyard
	url = https://github.com/ucb-bar/chipyard
[submodule "linux-kernel/linux"]
	path = linux-kernel/linux
	url = https://github.com/torvalds/linux
[submodule "freedom-metal/freedom-metal"]
	path = freedom-metal/freedom-metal
	url = https://github.com/sifive/freedom-metal
[submodule "firmware/edk2"]
	path = firmware/edk2
	url = https://github.com/tianocore/edk2
[submodule "firmware/edk2-platforms"]
	path = firmware/edk2-platforms
	url = https://github.com/tianocore/edk2-platforms
[submodule "firmware/u-boot"]
	path = firmware/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "firmware/riscv-smbios"]
	path = firmware/riscv-smbios
	url = https://github.com/riscv/riscv-smbios
[submodule "firmware/riscv-plic-spec"]
	path = firmware/riscv-plic-spec
	url = https://github.com/riscv/riscv-plic-spec
[submodule "firmware/opensbi"]
	path = firmware/opensbi
	url = https://github.com/riscv/opensbi
[submodule "riscv-boom"]
	path = riscv-boom
	url = https://github.com/riscv-boom/riscv-boom
